DJANGO_DEBUG_MODE=True
DJANGO_ALLOWED_HOSTS=*
DJANGO_DATABASE_URL=postgres://postgres:1234@localhost:5432/tools-ota

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_QUEUE=build
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

DOCKER_VOLUME_APP=.
DOCKER_VOLUME_DOCKER=./docker
DOCKER_VOLUME_STATIC=./run/static
DOCKER_VOLUME_MEDIA=./run/media
